[submodule "dot.emacs.d/site-lisp/apel"]
	path = dot.emacs.d/site-lisp/apel
	url = https://github.com/wanderlust/apel.git
[submodule "dot.emacs.d/site-lisp/js-doc"]
	path = dot.emacs.d/site-lisp/js-doc
	url = https://github.com/mooz/js-doc.git
[submodule "dot.emacs.d/site-lisp/js2-mode"]
	path = dot.emacs.d/site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "dot.emacs.d/site-lisp/magit"]
	path = dot.emacs.d/site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "dot.emacs.d/site-lisp/rinari"]
	path = dot.emacs.d/site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "dot.emacs.d/site-lisp/rhtml"]
	path = dot.emacs.d/site-lisp/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "dot.emacs.d/site-lisp/yasnippets-rails"]
	path = dot.emacs.d/site-lisp/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "dot.emacs.d/site-lisp/yasnippet"]
	path = dot.emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
