*~
*elc
#*#
.ap-project-files
dot.emacs.d/ac-comphist.dat
dot.emacs.d/anything-c-adaptive-history
dot.emacs.d/auto-install
dot.emacs.d/auto-save-list
dot.emacs.d/bin
dot.emacs.d/bookmarks
dot.emacs.d/eshell
dot.emacs.d/inits/00_private.el
dot.emacs.d/shellenv.el
dot.emacs.d/tags
dot.emacs.d/tramp
dot.emacs.d/site-lisp/auto-install.el
dot.emacs.d/site-lisp/elscreen.el
dot.emacs.d/site-lisp/gtags.el
dot.emacs.d/site-lisp/init-loader.el
dot.emacs.d/site-lisp/install-elisp.el
dot.emacs.d/site-lisp/cperl-mode/*
dot.emacs.d/site-lisp/html-helper-mode/*
dot.emacs.d/site-lisp/mmm-mode/*
dot.emacs.d/site-lisp/org-mode/*
dot.emacs.d/site-lisp/ruby-mode/*
dot.emacs.d/site-lisp/rinari/*
dot.emacs.d/site-lisp/rhtml/*
dot.emacs.d/site-lisp/twittering-mode/*
dot.emacs.d/site-lisp/rcodetools-0.8.5.0
dot.emacs.d/assets/yasnippets-rails/*
